<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tackanje.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEC5C8CA1C48255E00D09237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC5C8E11C48255F00D09237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC5C8EC1C48255F00D09237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
